<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'drugs')}">

<body>

<h2>Drug</h2>
<form th:object="${drug}" class="form-horizontal" id="add-drug-form" method="post">
    <div class="form-group has-feedback">
        <input
                th:replace="~{fragments/inputField :: input ('Drug name', 'name', 'text')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Animal type', 'animalType', 'text')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Batch number', 'batchNr', 'text')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Date of expiry', 'dateLast', 'text')}" />

    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button
                    th:with="text=${drug['new']} ? 'Add Drug' : 'Update Drug'"
                    class="btn btn-default" type="submit" th:text="${text}">Add Drug</button>
        </div>
    </div>
</form>
</body>
</html>
